* {
    margin: 0;
    padding: 0;
    color: var(--txt-color);
}
a {
    color: currentColor;
    text-decoration: none;
}
body {
    height: 100vh;
}
body, .offcanvas {
    background-color: var(--bg-color);
}
.accordion *, .accordion [aria-expanded] {
    background-color: var(--bg-color);
    color: var(--txt-color);
}
.btn .material-icons {
    font-size: inherit;
}


.list-group-item {
    cursor: pointer;
    box-shadow: .5rem 0 1rem rgba(0,0,0,.15);
    transition: 0.2s;
}
.list-group-item:hover {
    box-shadow: none;
    transform: scale(0.99);
    transition: 0.2s;
}